extends layout

block content
  main
    div.main-bg
      img.logo(src="/images/logo.png", alt="heLog", width="100px", height='auto')
      div
        ul#records-list
      div.box__btn
        a#sf-btn.cp_btn(href="#") sync